/* Reset podstawowy dla Material-UI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #171717FF;
}

/* Dodatkowe style dla Material-UI */
#root {
  min-height: 100vh;
}
